<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTML</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <h1>Contatos</h1>
  <main>
    <ul style="flex: 4;">
      <% contatos.forEach(contato=> { %>
        <li data-id="<%= contato.id %>">
          <div class="dados">
            <span id="nome">
              <%= contato.nome %>
            </span>
            <span id="sobrenome">
              <%= contato.sobrenome %>
            </span>
            <span id="email">
              <%= contato.email %>
            </span>
            <span id="telefone">
              <%= contato.telefone %>
            </span>
            <span>
              <%= contato.senha %>
            </span>
          </div>
          <div class="options">
            <button class="action_button" onclick="trocaEdição(event)" data-editing="false">Editar</button>
            <button class="action_button" onclick="apagaContato(<%= contato.id %>)">Apagar</button>
          </div>
        </li>
        <% }); %>
    </ul>

    <form onsubmit="enviaForm(event)">
      <input type="text" name="nome" placeholder="Nome">
      <input type="text" name="sobrenome" placeholder="Sobrenome">
      <input type="tel" name="telefone" placeholder="(11) 94768-9391">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Senha">
      <button type="submit">Enviar</button>
    </form>
  </main>

  <script>

    async function enviaForm(event) {
      event.preventDefault();
      const inputs = {
        nome: document.querySelector('input[name="nome"]').value,
        sobrenome: document.querySelector('input[name="sobrenome"]').value,
        telefone: document.querySelector('input[name="telefone"]').value,
        email: document.querySelector('input[name="email"]').value,
        senha: document.querySelector('input[name="password"]').value,
      };

      try {
        const json = await fetch('/contato', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(inputs),
        });

        const id = await json.json();

        document.querySelector('ul').innerHTML += `
          <li data-id="${id.id}">
            <div class="dados">
              <span id="nome">
                ${inputs.nome}
              </span>
              <span id="sobrenome">
                ${inputs.sobrenome}
              </span>
              <span id="email">
                ${inputs.email}
              </span>
              <span id="telefone">
                ${inputs.telefone}
              </span>
              <span>
                ${inputs.senha}
              </span>
            </div>
            <div class="options">
              <button class="action_button" onclick="window.location.reload()">Recarregar</button>
              <button class="action_button" onclick="trocaEdição(event)" data-editing="false">Editar</button>
              <button class="action_button" onclick="apagaContato(${id.id})">Apagar</button>
            </div>
          </li>
        `;
      } catch (error) {
        console.error(error);
      }
    }

    async function apagaContato(id) {
      const dom = document.querySelector(`li[data-id="${id}"]`);
      const confirm = window.confirm('Deseja apagar o contato?');

      if (confirm) {
        try {
          await fetch(`/contato/${id}`, {
            method: 'DELETE',
          });

          dom.remove();
        } catch (error) {
          console.error(error);
        }
      }
    }

    function trocaEdição(event) {
      const button = event.target;
      const li = button.parentNode.parentNode;
      const inputs = li.querySelectorAll('span');
      const isEditing = JSON.parse(button.dataset.editing);
      button.dataset.editing = !isEditing;

      const possibilities = {
        true: () => {
          button.innerText = 'Salvar';
          inputs.forEach(i => {
            i.classList.add('editing');
            i.contentEditable = true;
          });
        },
        false: () => {
          try {
            const dado = fetch(`/contato/${li.dataset.id}`, {
              method: 'PUT',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                nome: inputs[0].innerText,
                sobrenome: inputs[1].innerText,
                email: inputs[2].innerText,
                telefone: inputs[3].innerText,
                senha: inputs[4].innerText,
              }),
            });
            button.innerText = 'Editar';
            inputs.forEach(i => {
              i.classList.remove('editing');
              i.contentEditable = false;
            });
          } catch (error) {
            console.error(error);
          }
        },
      }
      possibilities[!isEditing]();
    }

  </script>

</body>

</html>